name: Deploy to GitHub pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
         node-version: '18.x'

      - name: Install dependencies in api dir
        run: |
          cd ./Application/api
          npm install npm@9.6.1

      - name: Install dependencies in helloworldvue dir
        run: |
         cd ./Application/api/helloworldvue
         npm install npm@9.6.1
         
      - name: build site
        run: |
         cd ./Application/api/helloworldvue
         npm run build
         
      - name: Setup Pages
        uses: actions/configure-pages@v2
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./Application/api/helloworldvue/dist/"
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
